{% extends 'base.html.twig' %}

{% block title %}Edit WpSite{% endblock %}

{% block body %}
    <h1>Edit WpSite</h1>

    {{ include('wp_site/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_wp_site_index') }}">back to list</a>

    {{ include('wp_site/_delete_form.html.twig') }}
{% endblock %}
