{% extends 'base.html.twig' %}


{% block body %}
<div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
        <h2>Create company</h2>
       
        {{ form(form) }}

       
        
    </div>
</div>
{% endblock %}
