{% extends 'base.html.twig' %}


{% block body %}
<div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
        <h2>Accounts</h2>
       
        <div class="row">
                <div class="col">
                    <a href="{{ path('app_account_create') }}" class="btn btn-primary">
                    Create
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="table-responsive">
                      <table class="table table-vcenter card-table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Test</th>
                            <th class="w-1"></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for account in accounts %}    
                                <tr>
                                    <td>{{ account.firstname }}</td>
                                    <td class="text-secondary">
                                        {% if account.company.id is defined %}
                                            {{ account.company.name }}
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ account.company | company_filter}}
                                    </td>
                                    
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
